<div mat-dialog-title>
  <div class="col-sm-12">
    <div class="row">
      <div class="col-sm-11">
        <h3 class="header" *ngIf="isChecked">Internal Audit Report</h3>
        <h3 class="header" *ngIf="!isChecked && isShowExternal">
          External Inspection Report
        </h3>
        <h3 class="header" *ngIf="!isChecked && !isShowExternal">
          Ship Visit Report
        </h3>
      </div>
      <div class="col-sm-1 text-right">
        <mat-icon (click)="onDialogClose()">close</mat-icon>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-8">
        <p class="descHeader" *ngIf="isChecked && data.qid !== '3.2.2'">
          (List of Internal Audit Report for last 12 months)
        </p>
        <p class="descHeader" *ngIf="isChecked && data.qid === '3.2.2'">
          (List of Internal Audit Report for last 24 months)
        </p>
        <p class="descHeader" *ngIf="!isChecked && isShowExternal">
          (List of External Inspection Report for last 12 months)
        </p>
        <p
          class="descHeader"
          *ngIf="!isChecked && !isShowExternal && data.qid !== '3.2.2'"
        >
          (List of Ship Visit Report for last 12 months)
        </p>
        <p
          class="descHeader"
          *ngIf="!isChecked && !isShowExternal && data.qid === '3.2.2'"
        >
          (List of Ship Visit Report for last 24 months)
        </p>
      </div>
      <div class="col-sm-4 text-center" style="padding:0 0 15px 0;">
        <div style="line-height: 1;">
          <div style="color: #707171;font-size: 14px;font-weight: 500;">
            <span>
              Module Selection
            </span>
          </div>
          <div style="white-space: nowrap;">
            <p
            class="toggleHeader"
            *ngIf="
              data.qid === '3.2.1' ||
              data.qid === '3.2.2' ||
              data.qid === '3.2.5' ||
              data.qid === '3.2.6' ||
              data.qid === '3.2.7'
            "
          >
          Ship Visit Report
          </p>
          <p class="toggleHeader" *ngIf="data.qid === '3.2.3' || data.qid === '3.2.4'">
            External Inspection Report
          </p>
          <mat-slide-toggle
          class="toggleHeader"
          [(ngModel)]="isChecked"
          (change)="changeToggle($event)"
        ></mat-slide-toggle>
        <p class="toggleHeader">Internal Audit Report</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<mat-dialog-content class="mat-typography">
  <div class="col-sm-12">
    <div class="row">
      <div class="col-sm-12" *ngIf="isChecked" >
        <ag-grid-angular
          #agGrid
          class="ag-theme-balham"
          style="height: calc(100vh - 270px)"
          enableSorting="true"
          enableFilter="true"
          [rowData]="rowData"
          [rowClassRules]="rowClassRules"
          [columnDefs]="columnDefs"
          [gridOptions]="gridOptions"
          [defaultColDef]="defaultColDef"
          [components]="frameworkComponents"
        >
        </ag-grid-angular>
      </div>
      <div class="col-sm-12" *ngIf="!isChecked && !isShowExternal">
        <ag-grid-angular
          #agGrid
          class="ag-theme-balham"
          style="height: calc(100vh - 270px)"
          enableSorting="true"
          enableFilter="true"
          [rowData]="rowShipData"
          [rowClassRules]="rowClassRules"
          [columnDefs]="columnShipDefs"
          [gridOptions]="gridOptions"
          [defaultColDef]="defaultColDef"
          [components]="frameworkComponents"
        >
        </ag-grid-angular>
      </div>
      <div class="col-sm-12" *ngIf="!isChecked && isShowExternal">
        <ag-grid-angular
          #agGrid
          class="ag-theme-balham"
          style="height: calc(100vh - 270px)"
          enableSorting="true"
          enableFilter="true"
          [rowData]="rowExternalData"
          [rowClassRules]="rowClassRules"
          [columnDefs]="columnExternalDefs"
          [gridOptions]="gridOptions"
          [defaultColDef]="defaultColDef"
          [components]="frameworkComponents"
        >
        </ag-grid-angular>
      </div>
    </div>
  </div>
</mat-dialog-content>
