<div mat-dialog-title>
  <div class="col-sm-12">
    <div class="row">
      <div class="col-sm-7">
        <h5 class="moduleTitle">3.2. Crew Evaluation</h5>
        <p class="descHeader" *ngIf="isShowInternal && data.qid !== '3.2.2'">
          (List of Internal Audit Report for last 12 months)
        </p>
        <p class="descHeader" *ngIf="isShowInternal && data.qid === '3.2.2'">
          (List of Internal Audit Report for last 24 months)
        </p>

        <p class="descHeader" *ngIf="isShowExternal">
          (List of External Inspection Report for last 12 months)
        </p>
        <p class="descHeader" *ngIf="isShowShip && data.qid !== '3.2.2'">
          (List of Ship Visit Report for last 12 months)
        </p>
        <p class="descHeader" *ngIf="isShowShip && data.qid === '3.2.2'">
          (List of Ship Visit Report for last 24 months)
        </p>

        <p class="descHeader" *ngIf="isShowView && isShowInternalShip">
          (List of Internal Audit and Ship Visit Report for last 24 months)
        </p>

        <p class="descHeader" *ngIf="isShowView && isShowInternalExternal">
          (List of Internal Audit and External Inspection Report for last 24 months)
        </p>
      </div>

      <div class="col-sm-4 text-center" style="padding: 15px 0 0 0">
        <mat-chip-listbox
          class="mat-mdc-chip-set-stacked"
          aria-label="Color selection"
        >
          <mat-chip-option
            color="primary"
            [selected]="isShowShip"
            (click)="changeToggle('Ship Visit Report')"
            *ngIf="isShowInternalShip"
          >
            Ship Visit Report
          </mat-chip-option>
          <mat-chip-option
            color="primary"
            [selected]="isShowExternal"
            (click)="changeToggle('External Inspection Report')"
            *ngIf="isShowInternalExternal"
          >
            External Inspection Report
          </mat-chip-option>

          <mat-chip-option
            color="primary"
            [selected]="isShowInternal"
            (click)="changeToggle('Internal Audit Report')"
          >
            Internal Audit Report
          </mat-chip-option>
          <mat-chip-option
            color="primary"
            (click)="changeToggle('ViewAll')"
            [selected]="isShowView"
          >
            View All
          </mat-chip-option>
        </mat-chip-listbox>
      </div>
      <div class="col-sm-1 text-right">
        <mat-icon (click)="onDialogClose()">close</mat-icon>
      </div>
    </div>
  </div>
</div>

<mat-dialog-content class="mat-typography">
  <div
    class="col-sm-12 ag-toolBar"
    style="margin-top: 10px"
    *ngIf="isShowInternal"
  >
    <span class="m-0">Internal Audit Report</span>
    <span class="m-0 right-float"
      >Total Records: {{ totalRowInternalCount }}</span
    >
  </div>

  <div class="row">
    <div class="col-sm-12" *ngIf="isShowInternal">
      <ag-grid-angular
        #agGrid
        class="ag-theme-balham"
        style="height: calc(100vh - 320px)"
        enableSorting="true"
        enableFilter="true"
        [rowData]="rowInternalData"
        [rowClassRules]="rowClassRules"
        [columnDefs]="columnInternalDefs"
        [tooltipShowDelay]="tooltipShowDelay"
        [defaultColDef]="defaultColDef"
        [components]="frameworkComponents"
        (cellClicked)="onCellClicked($event)"
        (filterChanged)="onFilterInternalChanged()"
        (gridReady)="onGridInternalReady($event)"
      >
      </ag-grid-angular>
    </div>
  </div>
  <div class="col-sm-12 ag-toolBar" style="margin-top: 10px" *ngIf="isShowShip">
    <span class="m-0">Ship Visit Report</span>
    <span class="m-0 right-float">Total Records: {{ totalRowShipCount }}</span>
  </div>
  <div class="row">
    <div class="col-sm-12" *ngIf="isShowShip">
      <ag-grid-angular
        #agGrid
        class="ag-theme-balham"
        style="height: calc(100vh - 320px)"
        enableSorting="true"
        enableFilter="true"
        [rowData]="rowShipData"
        [rowClassRules]="rowClassRules"
        [tooltipShowDelay]="tooltipShowDelay"
        [columnDefs]="columnShipDefs"
        [defaultColDef]="defaultColDef"
        [components]="frameworkComponents"
        (cellClicked)="onCellClicked($event)"
        (filterChanged)="onFilterShipChanged()"
        (gridReady)="onGridShipReady($event)"
      >
      </ag-grid-angular>
    </div>
  </div>
  <div
    class="col-sm-12 ag-toolBar"
    style="margin-top: 10px"
    *ngIf="isShowExternal"
  >
    <span class="m-0">External Inspection Report</span>
    <span class="m-0 right-float"
      >Total Records: {{ totalRowExternalCount }}</span
    >
  </div>
  <div class="row">
    <div class="col-sm-12" *ngIf="isShowExternal">
      <ag-grid-angular
        #agGrid
        class="ag-theme-balham"
        style="height: calc(100vh - 320px)"
        enableSorting="true"
        enableFilter="true"
        [rowData]="rowExternalData"
        [rowClassRules]="rowClassRules"
        [columnDefs]="columnExternalDefs"
        [defaultColDef]="defaultColDef"
        [components]="frameworkComponents"
        (cellClicked)="onCellClicked($event)"
        (filterChanged)="onFilterExternalChanged()"
        (gridReady)="onGridExternalReady($event)"
      >
      </ag-grid-angular>
    </div>
  </div>
  <div class="col-sm-12 ag-toolBar" *ngIf="isShowInternalShip && isShowView">
    <span class="m-0">Internal Audit Report</span>
    <span class="m-0 right-float"
      >Total Records: {{ totalRowInternalCount }}</span
    >
  </div>
  <div class="row">
    <div class="col-sm-12" *ngIf="isShowInternalShip && isShowView">
      <ag-grid-angular
        #agGrid
        class="ag-theme-balham"
        style="height: calc(100vh - 320px)"
        enableSorting="true"
        enableFilter="true"
        [rowData]="rowInternalData"
        [rowClassRules]="rowClassRules"
        [columnDefs]="columnInternalDefs"
        [defaultColDef]="defaultColDef"
        [components]="frameworkComponents"
        (cellClicked)="onCellClicked($event)"
        (filterChanged)="onFilterInternalChanged()"
        (gridReady)="onGridInternalReady($event)"
      >
      </ag-grid-angular>
    </div>
  </div>

  <div
    class="col-sm-12 ag-toolBar"
    style="margin-top: 10px"
    *ngIf="isShowInternalShip && isShowView"
  >
    <span class="m-0">Ship Visit Report</span>
    <span class="m-0 right-float">Total Records: {{ totalRowShipCount }}</span>
  </div>
  <div class="row">
    <div class="col-sm-12" *ngIf="isShowInternalShip && isShowView">
      <ag-grid-angular
        #agGrid
        class="ag-theme-balham"
        style="height: calc(100vh - 320px)"
        enableSorting="true"
        enableFilter="true"
        [rowData]="rowShipData"
        [rowClassRules]="rowClassRules"
        [tooltipShowDelay]="tooltipShowDelay"
        [columnDefs]="columnShipDefs"
        [defaultColDef]="defaultColDef"
        [components]="frameworkComponents"
        (cellClicked)="onCellClicked($event)"
        (filterChanged)="onFilterShipChanged()"
        (gridReady)="onGridShipReady($event)"
      >
      </ag-grid-angular>
    </div>
  </div>

  <div
    class="col-sm-12 ag-toolBar"
    style="margin-top: 10px"
    *ngIf="isShowInternalExternal && isShowView"
  >
    <span class="m-0">Internal Audit Report</span>
    <span class="m-0 right-float"
      >Total Records: {{ totalRowInternalCount }}</span
    >
  </div>
  <div class="row">
    <div class="col-sm-12" *ngIf="isShowInternalExternal && isShowView">
      <ag-grid-angular
        #agGrid
        class="ag-theme-balham"
        style="height: calc(100vh - 320px)"
        enableSorting="true"
        enableFilter="true"
        [rowData]="rowInternalData"
        [rowClassRules]="rowClassRules"
        [columnDefs]="columnInternalDefs"
        [defaultColDef]="defaultColDef"
        [components]="frameworkComponents"
        (cellClicked)="onCellClicked($event)"
        (gridReady)="onGridInternalReady($event)"
        (filterChanged)="onFilterInternalChanged()"
      >
      </ag-grid-angular>
    </div>
  </div>

  <div
    class="col-sm-12 ag-toolBar"
    style="margin-top: 10px"
    *ngIf="isShowInternalExternal && isShowView"
  >
    <span class="m-0">External Inspection Report</span>
    <span class="m-0 right-float"
      >Total Records: {{ totalRowExternalCount }}</span
    >
  </div>
  <div class="row">
    <div class="col-sm-12" *ngIf="isShowInternalExternal && isShowView">
      <ag-grid-angular
        #agGrid
        class="ag-theme-balham"
        style="height: calc(100vh - 320px)"
        enableSorting="true"
        enableFilter="true"
        [rowData]="rowExternalData"
        [rowClassRules]="rowClassRules"
        [columnDefs]="columnExternalDefs"
        [defaultColDef]="defaultColDef"
        [components]="frameworkComponents"
        (cellClicked)="onCellClicked($event)"
        (filterChanged)="onFilterExternalChanged()"
        (gridReady)="onGridExternalReady($event)"
      >
      </ag-grid-angular>
    </div>
  </div>

  <button
    mat-button
    (click)="onDialogClose()"
    class="cancel btnHeight mt-2"
    style="float: right"
    [mat-dialog-close]="true"
  >
    Cancel
  </button>
  <button
    mat-button
    class="syncBtn mt-2"
    style="float: right"
    type="submit"
    [class.hideReqBtns]="hideReqBtns"
    (click)="onReset()"
  >
    Reset
  </button>
</mat-dialog-content>
