<div mat-dialog-title>
  <div class="col-sm-12">
    <div class="row">
      <div class="col-sm-11">
        <h3 class="header" *ngIf="isChecked">Internal Audit Report</h3>
        <h3 class="header" *ngIf="!isChecked && isShowExternal">
          External Audit Report
        </h3>
        <h3 class="header" *ngIf="!isChecked && !isShowExternal">
          Ship Visit Report
        </h3>
      </div>
      <div class="col-sm-1 text-right">
        <mat-icon (click)="onDialogClose()">close</mat-icon>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-8">
        <p class="descHeader" *ngIf="isChecked && data !== '3.2.2'">
          (List of internal audit for last 12 months)
        </p>
        <p class="descHeader" *ngIf="isChecked && data === '3.2.2'">
          (List of internal audit for last 24 months)
        </p>
        <p class="descHeader" *ngIf="!isChecked && isShowExternal">
          (List of external audit for last 12 months)
        </p>
        <p
          class="descHeader"
          *ngIf="!isChecked && !isShowExternal && data !== '3.2.2'"
        >
          (List of ship visit for last 12 months)
        </p>
        <p
          class="descHeader"
          *ngIf="!isChecked && !isShowExternal && data === '3.2.2'"
        >
          (List of ship visit for last 24 months)
        </p>
      </div>
      <div class="col-sm-4 text-right">
        <p
          class="toggleHeader"
          *ngIf="
            data === '3.2.1' ||
            data === '3.2.2' ||
            data === '3.2.5' ||
            data === '3.2.6' ||
            data === '3.2.7'
          "
        >
          Ship Visit
        </p>

        <p class="toggleHeader" *ngIf="data === '3.2.3' || data === '3.2.4'">
          External Visit
        </p>
        <mat-slide-toggle
          class="toggleHeader"
          [(ngModel)]="isChecked"
          (change)="changeToggle($event)"
        ></mat-slide-toggle>
        <p class="toggleHeader">Internal Audit</p>
      </div>
    </div>
  </div>
</div>

<mat-dialog-content class="mat-typography">
  <div class="col-sm-12">
    <div class="row">
      <div class="col-sm-12" *ngIf="isChecked">
        <ag-grid-angular
          #agGrid
          class="ag-theme-balham"
          style="height: calc(100vh - 270px)"
          enableSorting="true"
          enableFilter="true"
          [rowData]="rowData"
          [columnDefs]="columnDefs"
          [gridOptions]="gridOptions"
          [components]="frameworkComponents"
        >
        </ag-grid-angular>
      </div>
      <div class="col-sm-12" *ngIf="!isChecked && !isShowExternal">
        <ag-grid-angular
          #agGrid
          class="ag-theme-balham"
          style="height: calc(100vh - 270px)"
          enableSorting="true"
          enableFilter="true"
          [rowData]="rowShipData"
          [columnDefs]="columnShipDefs"
          [gridOptions]="gridOptions"
          [components]="frameworkComponents"
        >
        </ag-grid-angular>
      </div>
      <div class="col-sm-12" *ngIf="!isChecked && isShowExternal">
        <ag-grid-angular
          #agGrid
          class="ag-theme-balham"
          style="height: calc(100vh - 270px)"
          enableSorting="true"
          enableFilter="true"
          [rowData]="rowExternalData"
          [columnDefs]="columnExternalDefs"
          [gridOptions]="gridOptions"
          [components]="frameworkComponents"
        >
        </ag-grid-angular>
      </div>
    </div>
  </div>
</mat-dialog-content>
