<div mat-dialog-title>
  <div class="col-sm-12 pl-4">
    <div class="row">
      <div class="col-sm-11">
        <h5 class="moduleTitle">2.1 Certificate</h5>
        <p class="descHeader">(List of Vessel Certificate for last 18 month)</p>
      </div>
      <div
        class="col-sm-1 text-right closeIcn"
        style="padding-top: 10px; padding-right: 0"
      >
        <mat-icon (click)="onDialogClose()">close</mat-icon>
      </div>
    </div>
  </div>
</div>
<mat-dialog-content class="mat-typography">
  <div class="col-sm-12">
    <div class="col-sm-12  ag-toolBar">
      <span class="m-0">Vessel Certificate</span>
      <span class="m-0 right-float">Total Records: {{ totalRowCount }}</span>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <ag-grid-angular
          class="ag-theme-balham"
          style="height: calc(100vh - 282px)"
          [rowData]="rowData"
          [columnDefs]="columnDefs"
          [defaultColDef]="defaultColDef"
          [tooltipShowDelay]="tooltipShowDelay"
          [groupDisplayType]="groupDisplayType"
          (gridReady)="onGridReady($event)"
          (cellClicked)="onCellClicked($event)"
          (filterChanged)="onFilterChanged()"
        >
        </ag-grid-angular>
      </div>
    </div>
  </div>
</mat-dialog-content>
