<div id="vslSelectionWrapper">
  <div mat-dialog-title>
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-11" style="font-size: 12px;white-space: nowrap;">
          <h5>Select Vessel</h5>
        </div>
        <div class="col-sm-1 text-right">
          <mat-icon [mat-dialog-close]="true">close</mat-icon>
      </div>
      </div>
    </div>
  </div>
  <form [formGroup]="vesselSelectionForms" (ngSubmit)="onProceed(vesselSelectionForms)">
    <div mat-dialog-content>
      
      <div class="col-sm-12" style="padding: 0;" *ngIf="this.userDetails?.cntrlType === 'CNT001'">
        <div class="row">
          <div class="col-sm-4">
            <div><span>Select Vessel Name</span></div>
            <mat-form-field class="selectDropdown" appearance="outline" >
              <mat-select [(ngModel)]="selectedValue" formControlName="vesselName"  (selectionChange)="onSelectVessel($event)" name="food">
                <input  placeholder="Search Vessel" class="filterSearch" #filterVesselNameInput  />
                <mat-option *ngFor="let vsl of vesselname | selectSearchFilter: filterVesselNameInput.value" [value]="vsl.vesselcode">
                  {{vsl.vesselname}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-sm-4">
            <div><span>Select Vessel Type</span></div>
            <mat-form-field class="selectDropdown" appearance="outline" >
              <mat-select [(ngModel)]="selectedVslTypeValue" formControlName="vesselType"  (selectionChange)="onSelectVessel($event)" name="food">
                <input  placeholder="Search Vessel" class="filterSearch" #filterVesselTypeInput  />
                <mat-option *ngFor="let vsltype of vesselTypeCode | selectSearchVslFilter: filterVesselTypeInput.value" [value]="vsltype.vesseltypecode">
                  {{vsltype.vesseltypename}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-sm-4">
            <div><span>Planned Submission Date</span></div>
            <mat-form-field appearance="outline" class="datePicker">
              <input matInput [matDatepicker]="picker" formControlName="datePick"
                (dateInput)="onDateChange($event)" autocomplete="off" />
              <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>
        </div>
      </div>

      <div class="col-sm-12" style="padding: 0;"  *ngIf="this.userDetails?.cntrlType === 'CNT002'">
        <div class="row">
          <div class="col-sm-6">
            <div><span>Select Vessel Type</span></div>
            <mat-form-field class="selectDropdown" appearance="outline" >
              <mat-select [(ngModel)]="selectedVslTypeValue" formControlName="vesselType"  (selectionChange)="onSelectVessel($event)" name="food">
                <input  placeholder="Search Vessel" class="filterSearch" #filterInput  />
                <mat-option *ngFor="let vsltype of vesselTypeCode | selectSearchVslFilter: filterInput.value" [value]="vsltype.vesseltypecode">
                  {{vsltype.vesseltypename}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-sm-6">
            <div><span>Planned Submission Date</span></div>
            <mat-form-field appearance="outline" class="datePicker">
              <input matInput [matDatepicker]="picker" formControlName="datePick"
                (dateInput)="onDateChange($event)" autocomplete="off" (input)="onKeyChange($event)"/>
              <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>
        </div>
      </div>
      
    </div>
    <div mat-dialog-actions>
      <button mat-button type="submit" [disabled]="disableProceed"
        [ngClass]="{'disableBtn': disableProceed}" class="vslSelect">Proceed</button>
    </div>
  </form>
</div>