<div id="vslSelectionWrapper">
  <div mat-dialog-title>
    <div class="col-sm-12">
      <div class="row">
        <div style="font-size: 12px;white-space: nowrap;">
          <h5>Select Vessel</h5>
        </div>
      </div>
    </div>
  </div>
  <form [formGroup]="vesselSelectionForms" (ngSubmit)="onProceed(vesselSelectionForms)">
    <div mat-dialog-content>
      <mat-form-field class="selectDropdown" appearance="outline" >
        <mat-label>Select Vessel</mat-label>
        <mat-select [(ngModel)]="selectedValue" formControlName="vessel"  (selectionChange)="onSelectVessel($event)" name="food">
          <input matInput placeholder="Search Vessel" class="filterSearch" #filterInput  />
          <mat-option *ngFor="let vsl of vesselname | selectSearchFilter: filterInput.value" [value]="vsl.vesselcode">
            {{vsl.vesselname}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div mat-dialog-actions>
      <button mat-button type="submit" [disabled]="!vesselSelectionForms.valid"
        [ngClass]="{'disableBtn': !vesselSelectionForms.valid}" class="vslSelect" >Proceed</button>
    </div>
  </form>
</div>