<div class="row border-b mb-2" mat-dialog-title>
  <div class="col-sm-8 p-0">
    <h5>Save As Template</h5>
  </div>
  <div class="col-sm-4 p-0 text-right">
    <mat-icon class="cursor-pointer" (click)="dialogClose('false')"
      >close</mat-icon
    >
    <!-- <img  class="cursor-pointer" src="assets/icon-images/close.png" alt="" width="15"> -->
  </div>
</div>
<mat-dialog-content>
  <form [formGroup]="saveAsForm">
    <div class="row p-2">
      <div class="col-md-12">
        <span>Template Name</span> <span style="color: red"> *</span>
        <mat-form-field appearance="outline" class="input">
          <input
            matInput
            type="text"
            appAlphanumeric
            formControlName="templateName"
            autocomplete="off"
            maxlength="25"
            (keyup)="onChangeInput($event)"
          />
        </mat-form-field>
      </div>
    </div>
  </form>
</mat-dialog-content>

<div mat-dialog-actions>
  <button
    (click)="dialogClose('true')"
    mat-button
    type="button"
    [class.disableBtn]="!saveAsForm.valid"
    [disabled]="!saveAsForm.valid"
    class="vslSelect btnHeight cursor-pointer"
  >
    SAVE
  </button>
  <button
    mat-button
    (click)="dialogClose('false')"
    class="cancel btnHeight cursor-pointer"
  >
    CANCEL
  </button>
</div>
