<!-- <div>
    <span>search:</span>
    <input type="text"[(ngModel)]="enteredSearchvalue" (input)="onSearchTextChanged()">
</div> -->


<div class="searchBox" [class.active]="isSearchActive">
    <div class="search" (click)="activateSearch()">
        <mat-icon class="search-icon">search</mat-icon>
    </div>
    <div class="searchInput">
        <input type="text" [(ngModel)]="enteredSearchvalue" placeholder="Find Question..." (input)="onSearchTextChanged()">
    </div>
    <div class="closeIcn" (click)="deactivateSearch()">
        <mat-icon>clear</mat-icon>  
    </div>
</div>
<!-- <div class="searchBox" >
    <div class="search" >
        <mat-icon class="search-icon">search</mat-icon>
    </div>
    <div class="searchInput">
        <input type="text"[(ngModel)]="enteredSearchvalue" (input)="onSearchTextChanged()">
    </div>
    <div class="closeIcn" >
        <mat-icon>clear</mat-icon>  
    </div>
</div> -->
