<div mat-dialog-title>
  <div class="col-sm-12">
    <div class="row">
      <div class="col-sm-11">
        <h4 class="header">
          2.3. Structural Assessment - {{ data.moduleName }}
        </h4>
        <p class="descHeader">(List of PMS Overview)</p>
      </div>

      <div class="col-sm-1 text-right closeIcn">
        <mat-icon (click)="onDialogClose()">close</mat-icon>
      </div>
    </div>
  </div>
</div>

<mat-dialog-content class="mat-typography">
  <div class="col-sm-12  ag-toolBar">
    <span class="m-0">{{data.moduleName}}</span>
    <span class="m-0 right-float">Total Records: {{ totalRowCount }}</span>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <ag-grid-angular
        class="ag-theme-balham"
        style="height: calc(100vh - 270px)"
        [rowData]="rowData"
        [columnDefs]="columnDefs"
        [rowSelection]="multiRowSelection"
        [defaultColDef]="defaultColDef"
        [tooltipShowDelay]="tooltipShowDelay"
        [rowClassRules]="rowClassRules"
        [rowMultiSelectWithClick]="true"
        (gridReady)="onGridReady($event)"
        (filterChanged)="onFilterChanged()"
        [components]="frameworkComponents"
      >
      </ag-grid-angular>
    </div>
  </div>
  <button
    mat-button
    (click)="onDialogClose()"
    class="cancel btnCan mt-2"
    style="float: right"
    [mat-dialog-close]="true"
  >
    Cancel
  </button>
  <button
    mat-button
    class="syncBtn mt-2"
    [class.hideReqBtns]="hideReqBtns"
    style="float: right"
    type="submit"
    (click)="onReset()"
  >
    Reset
  </button>
</mat-dialog-content>
