@import "../../../../../../piq.css";
::ng-deep .pmsLookUp-dialog-container ::ng-deep .mat-mdc-dialog-container {
  width: 100vw !important;
}

.syncBtn.mat-mdc-button.mat-mdc-button-base {
  background-color: #19c37d;
  color: white;
  height: 30px;
  margin: 0 5px;
  padding: 0px 10px;
  font-size: 12px;
}

.btnHeight{
  height: 30px;
}

::ng-deep
  .pmsLookUp-dialog-container
  ::ng-deep
  .mat-mdc-dialog-container
  ::ng-deep
  .mdc-dialog__content {
  height: calc(100vh - 180px) !important;
  max-height: unset !important;
}

::ng-deep .highlighted-row {
  background-color: yellow;
}

::ng-deep .mat-mdc-dialog-title {
  margin: 0;
}

.close_mark {
  border-radius: 10px;
  background: #dee1f0;
  cursor: pointer;
}

.close.material-icons {
  font-size: 14px;
  height: 14px;
  width: 14px;
}

.CheckID {
  font-size: 11px;
  padding-right: 5px;
}

.closeIcn .mat-icon {
  cursor: pointer;
}

.showBtn {
  background-color: #19c37d;
  color: white;
}

.descHeader {
  font-size: 12px;
  display: flex;
  align-items: center;
  height: 10px;
  margin: 5px 0;
  color: #707171;
}

.toggleHeader {
  font-size: 12px;
  margin-bottom: 0px;
  display: inline-block;
  margin-right: 5px;
}
.header {
  margin: 0;
}

.hideReqBtns{
  display: none !important;
}

.btnCan{
  height: 26px;
  margin: 0 5px;
  padding: 0px 10px;
  font-size: 12px;
}
