<mat-sidenav-container [hasBackdrop]="false">
  <mat-sidenav
    class="mat-sidenav-box"
    mode="side"
    position="start"
    opened="true"
  >
    <app-sidebar
      [leftOpen]="leftOpen"
      style="overflow: hidden" [ngClass]="{
        hideSideBar: showFullscreen
      }"
    ></app-sidebar>
  </mat-sidenav>
  <mat-sidenav-content
    [ngClass]="
      marginZero
        ? 'margin-zero'
        : leftOpen
        ? 'sidebar-content-open'
        : 'sidebar-content-close'
    "
  >
    <app-navbar
      (toggleSidebar)="toggleSidebar($event)"
    ></app-navbar>
 
    <div
      class="page-content-wrapper"
      [ngClass]="{
        fullScreenResolution: showFullscreen
      }"
    >
      <div class="fullscreen_module_wrapper" (click)="fullscreen()">
        <div class="fullscreen_icon_wrapper">
          <mat-icon class="fullscreen_icon" style="cursor: pointer;" [matTooltip]="!showFullscreen ? 'Full Screen' : 'Minimize Screen'">{{
            !showFullscreen ? "fullscreen" : "fullscreen_exit"
          }}</mat-icon>
        </div>
      </div>
      <router-outlet #router></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>