<div mat-dialog-title>
  <div class="col-sm-12">
    <div class="row">
      <div class="col-sm-11">
        <h3 class="header">Incident Investigation</h3>
        <p class="descHeader">
          (List of Incident Investigation for last 12 months)
        </p>
      </div>

      <div class="col-sm-1 text-right closeIcn">
        <mat-icon (click)="onDialogClose()">close</mat-icon>
      </div>
    </div>
  </div>
</div>

<div mat-dialog-content class="mat-typography sm-Dailog">
  <div class="col-sm-12 mt-2">
    <mat-tab-group
      [selectedIndex]="selectedIndex"
      (selectedTabChange)="onTabChanged($event)"
    >
      <mat-tab label="List of incident investigation">
        <ag-grid-angular
          #agGrid
          class="ag-theme-balham"
          style="height: calc(100vh - 320px)"
          enableSorting="true"
          enableFilter="true"
          [rowData]="rowData"
          [columnDefs]="columnDefs"
          [tooltipShowDelay]="tooltipShowDelay"
          [defaultColDef]="defaultColDef"
          [rowGroupPanelShow]="rowGroupPanelShow"
          [gridOptions]="gridOptions"
          (gridReady)="onGridReady($event)"
        >
        </ag-grid-angular>
      </mat-tab>
      <mat-tab label="Selected incident investigation">
        <ag-grid-angular
          class="ag-theme-balham"
          style="height: calc(100vh - 375px); font-size: 11px"
          [rowData]="selectedRowData"
          [animateRows]="true"
          [suppressMenuHide]="true"
          [defaultColDef]="defaultColDef"
          [rowGroupPanelShow]="rowGroupPanelShow"
          [tooltipShowDelay]="tooltipShowDelay"
          [columnDefs]="selectedColumnDefs"
          [components]="frameworkComponents"
        >
        </ag-grid-angular>

        <div mat-dialog-actions align="end" style="padding: 8px 15px">
          <button mat-button class="showBtn" (click)="onApply()">Apply</button>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
