@import "../../../../../../piq.css";
::ng-deep .sm-dialog-container ::ng-deep .mat-mdc-dialog-container {
  width: 100vw !important;
}

::ng-deep .mat-mdc-dialog-content {
  overflow: hidden;
}

::ng-deep .sm-dialog-container ::ng-deep .mat-mdc-dialog-container ::ng-deep .mdc-dialog__content{
  height: calc(100vh - 200px) !important;
  padding-bottom: 0;
  max-height: unset !important;
  font-size: 12px;
  color: black;
}
::ng-deep
  .sm-dialog-container
  ::ng-deep
  .mat-mdc-dialog-container
  .mdc-dialog__title {
  display: flex !important;
  align-items: center !important;
  padding: 0 15px !important;
  height: fit-content !important;
  margin-top: 10px;
}

.btnHeight{
  height: 30px;
}

::ng-deep .mat-mdc-dialog-title {
  margin: 0;
}

::ng-deep .sm-Dailog ::ng-deep .mat-mdc-tab-body-wrapper{
height: calc(100vh - 220px) !important;
}

.close_mark {
  border-radius: 10px;
  background: #dee1f0;
  cursor: pointer;
}

.close.material-icons {
  font-size: 14px;
  height: 14px;
  width: 14px;
}

.CheckID {
  font-size: 11px;
  padding-right: 5px;
}

.closeIcn .mat-icon {
  cursor: pointer;
}

.showBtn {
  background-color: #19c37d;
  color: white;
}

.descHeader {
  font-size: 12px;
  display: flex;
  align-items: center;
  height: 10px;
  margin: 5px 0;
  color: #707171;
}

.header {
  margin: 0;
}


.hideReqBtns{
  display: none !important;
}

.btnCan{
  height: 26px;
  margin: 0 5px;
  padding: 0px 10px;
  font-size: 12px;
}
