<div mat-dialog-title>
  <div class="col-sm-12">
    <div class="row">
      <div class="col-sm-11">
        <h5 class="moduleTitle">5.7. Safety Management</h5>
        <p class="descHeader">
          (List of Incident Investigation for last 12 months)
        </p>
      </div>

      <div class="col-sm-1 text-right closeIcn">
        <mat-icon (click)="onDialogClose()">close</mat-icon>
      </div>
    </div>
  </div>
</div>

<div mat-dialog-content class="mat-typography sm-Dailog">
  <div class="col-sm-12 mt-2" style="height: calc(100vh - 220px) !important">
    <mat-tab-group
      [selectedIndex]="selectedIndex"
      (selectedTabChange)="onTabChanged($event)"
    >
      <mat-tab label="List of incident investigation">
        <div
          class="col-sm-12  ag-toolBar"
          style="margin-top: 10px"
        >
        <span class="m-0">Incident Investigation</span>
          <span class="m-0 right-float">Total Records: {{ totalRowCount }}</span>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <ag-grid-angular
              #agGrid
              class="ag-theme-balham"
              style="height: calc(100vh - 320px)"
              enableSorting="true"
              enableFilter="true"
              [rowData]="rowData"
              [columnDefs]="columnDefs"
              [tooltipShowDelay]="tooltipShowDelay"
              [defaultColDef]="defaultColDef"
              [gridOptions]="gridOptions"
              (gridReady)="onGridReady($event)"
              (cellClicked)="onCellClicked($event)"
              (filterChanged)="onFilterChanged()"
            >
            </ag-grid-angular>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Selected incident investigation">
        <div
          class="col-sm-12  ag-toolBar"
          style="margin-top: 10px"
        >
        <span class="m-0">Suggested</span>
          <span class="m-0 right-float">Total Records: {{ totalRowSecondCount }}</span>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <ag-grid-angular
              class="ag-theme-balham"
              style="height: calc(100vh - 375px); font-size: 12px"
              [rowData]="selectedRowData"
              [animateRows]="true"
              [suppressMenuHide]="true"
              [defaultColDef]="defaultColDef"
              [tooltipShowDelay]="tooltipShowDelay"
              [columnDefs]="selectedColumnDefs"
              [components]="frameworkComponents"
              (cellClicked)="onCellClicked($event)"
              (filterChanged)="onFilterSecondChanged()"
              (gridReady)="onGridSecondReady($event)"
            >
            </ag-grid-angular>
          </div>
        </div>
        <div mat-dialog-actions align="end" style="padding: 8px 15px">
          <button
            mat-button
            class="showBtn btnHeight"
            (click)="onApply()"
            [class.hideReqBtns]="hideReqBtns || selectedRowData && selectedRowData.length === 0"
          >
            Apply
          </button>
          <button
            mat-button
            (click)="onDialogClose()"
            class="cancel btnHeight"
            [mat-dialog-close]="true"
          >
            Cancel
          </button>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
