@import "../../../../../piq.css";
#exceptionWrapper{
padding: 5px 15px;
}

#exceptionWrapper::-webkit-scrollbar {
  width: 10px;
}

#exceptionWrapper::-webkit-scrollbar-track {
  border: 1px solid #dee1f0;
  background-color: white;
}

#exceptionWrapper::-webkit-scrollbar-thumb {
  background: #dee1e6;
}
.syncBtn.mat-mdc-button.mat-mdc-button-base {
  background-color: #19c37d;
  color: white;
  height: 26px !important;
  margin: 5px 13px;
  padding: 0px 10px;
  font-size: 12px;
}

.disableBtns{
  background-color: gray !important;
  color: black !important;
  }

.sick-days-warning {
  background-color: sandybrown !important;
}

.hideReqBtns{
  display: none;
}

.sick-days-breach {
  background-color: lightcoral !important;
}