<div class="col-sm-12" id="exceptionWrapper">
  <div class="row">
    <div class="col-sm-12 text-right">
      <button
        mat-button
        class="save"
        [disabled]="disableBtns || (rowData && rowData.length === 0)"
        [class.disableBtns]="disableBtns || (rowData && rowData.length === 0)"
        [class.hideReqBtns]="hideReqBtns"
        type="submit"
        (click)="onSubmit()"
      >
        Save
      </button>
    </div>
  </div>
  <div class="col-sm-12 ag-toolBar" style="margin-top: 5px">
    <span class="m-0">Total Records: {{ totalRowCount }}</span>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <ag-grid-angular
        style="height: calc(100vh - 230px)"
        class="ag-theme-balham charCount excepGrid"
        [columnDefs]="columnDefs"
        [defaultColDef]="defaultColDef"
        [rowGroupPanelShow]="rowGroupPanelShow"
        (cellClicked)="onCellClicked($event)"
        [animateRows]="true"
        [tooltipShowDelay]="tooltipShowDelay"
        [groupDisplayType]="groupDisplayType"
        [suppressMenuHide]="true"
        [embedFullWidthRows]="true"
        [rowData]="rowData"
        (gridReady)="onGridReady($event)"
        (filterChanged)="onFilterChanged()"
        [components]="frameworkComponents"
        [stopEditingWhenCellsLoseFocus]="true"
        [singleClickEdit]="true"
      >
      </ag-grid-angular>
    </div>
  </div>
</div>
