<div mat-dialog-title>
  <div class="col-sm-12">
    <div class="row">
      <div class="col-sm-11">
        <h4 class="header">2.5. Management of Change</h4>
        <p class="descHeader">(List of Moc Report for last 12 months)</p>
      </div>

      <!-- <div class="col-sm-1 text-right closeIcn">
        <mat-icon (click)="onDialogClose()">close</mat-icon>
      </div> -->
    </div>
  </div>
</div>

<div mat-dialog-content class="mat-typography">
  <div class="col-sm-12 justify-content-end ag-toolBar">
    <span class="m-0">Total Records: {{rowData && rowData.length}}</span>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <ag-grid-angular #agGrid class="ag-theme-balham" style="height: calc(100vh - 305px)" enableSorting="true"
        enableFilter="true" [rowData]="rowData" [defaultColDef]="defaultColDef" [rowGroupPanelShow]="rowGroupPanelShow" [groupDisplayType]="groupDisplayType"
        [tooltipShowDelay]="tooltipShowDelay" [columnDefs]="columnDefs" [gridOptions]="gridOptions"
        [components]="frameworkComponents" (cellClicked)="onCellClicked($event)">
      </ag-grid-angular>
      <!-- [statusBar]="statusBar" -->
    </div>
  </div>
</div>

<div mat-dialog-actions align="end" style="padding: 8px 15px">
  <button mat-button class="showBtn btnCan" (click)="applyMocDetails()" [class.hideReqBtns]="hideReqBtns">Apply</button>
  <button mat-button (click)="onDialogClose()" class="cancel btnCan" [class.hideReqBtns]="hideReqBtns"[mat-dialog-close]="true">Cancel</button>
</div>