<div mat-dialog-title>
  <div class="col-sm-12">
    <div class="row">
      <div class="col-sm-11" *ngIf="enableDiv">
        <h5 class="moduleTitle">2.2. Management Oversight</h5>
        <p class="descHeader">
          (List of Inspections from Ship Visit Report Module for last 18 months)
        </p>
      </div>
      <div
        *ngIf="enableDiv"
        class="col-sm-1 text-right closeIcn"
        style="padding-top: 10px; padding-right: 0"
      >
        <mat-icon (click)="onDialogClose()">close</mat-icon>
      </div>
      <div class="col-sm-7" *ngIf="!enableDiv">
        <h5 class="moduleTitle">2.2. Management Oversight</h5>
        <p class="descHeader" *ngIf="isOnlyShipVisit && !isViewAll">
          (List of Inspections from Ship Visit Report Module for last 18 months)
        </p>
        <p class="descHeader" *ngIf="isOnlyInterVisit && !isViewAll">
          (List of Inspections from Internal Audit Report Module for last 18
          months)
        </p>

        <p class="descHeader" *ngIf="isViewAll">
          (List of inspections from internal audit and ship visit report module
          for last 18 months)
        </p>
      </div>
      <div
        class="col-sm-4 text-center"
        style="padding: 15px 0 0 0"
        *ngIf="isShowToggle"
      >
        <mat-chip-listbox
          class="mat-mdc-chip-set-stacked"
          aria-label="Color selection"
        >
          <mat-chip-option
            color="primary"
            [selected]="!isChecked && !isViewAll"
            (click)="changeToggle('InternalAudit')"
          >
            Internal Audit Report
          </mat-chip-option>
          <mat-chip-option
            color="primary"
            [selected]="isChecked && !isViewAll"
            (click)="changeToggle('ShipVisit')"
          >
            Ship Visit Report
          </mat-chip-option>
          <mat-chip-option
            color="primary"
            (click)="changeToggle('ViewAll')"
            [selected]="isChecked && isViewAll"
          >
            View All
          </mat-chip-option>
        </mat-chip-listbox>
      </div>
      <div
        *ngIf="!enableDiv"
        class="col-sm-1 text-right closeIcn"
        style="padding-top: 10px; padding-right: 0"
      >
        <mat-icon (click)="onDialogClose()">close</mat-icon>
      </div>
    </div>
  </div>
</div>
<mat-dialog-content class="mat-typography">
  <div class="col-sm-12 ag-toolBar" *ngIf="isOnlyShipVisit">
    <span class="m-0">Ship Visit Report</span>
    <span class="m-0 right-float">Total Records: {{ totalRowCount }}</span>
  </div>
  <div class="row">
    <div class="col-sm-12" *ngIf="isOnlyShipVisit">
      <ag-grid-angular
        class="ag-theme-balham"
        style="height: calc(100vh - 320px)"
        [rowData]="rowShipData"
        [columnDefs]="columnDefs"
        [defaultColDef]="defaultColDef"
        [rowGroupPanelShow]="rowGroupPanelShow"
        [groupDisplayType]="groupDisplayType"
        [tooltipShowDelay]="tooltipShowDelay"
        [rowClassRules]="rowClassRules"
        [rowMultiSelectWithClick]="true"
        (gridReady)="onGridReady($event)"
        (filterChanged)="onFilterChanged()"
        [components]="frameworkComponents"
        (cellClicked)="onCellClicked($event)"
      >
      </ag-grid-angular>
    </div>
  </div>
  <div
    class="col-sm-12 ag-toolBar"
    *ngIf="this.isOnlyInterVisit"
    style="margin-top: 10px"
  >
    <span class="m-0">Internal Audit Report</span>
    <span class="m-0 right-float"
      >Total Records: {{ totalRowInternalData }}</span
    >
  </div>
  <div class="row">
    <div class="col-sm-12" *ngIf="this.isOnlyInterVisit">
      <ag-grid-angular
        class="ag-theme-balham"
        style="height: calc(100vh - 320px)"
        [rowData]="rowInternalData"
        [columnDefs]="internalColumnDefs"
        [rowClassRules]="rowClassRules"
        [defaultColDef]="defaultColDef"
        [groupDisplayType]="groupDisplayType"
        [rowGroupPanelShow]="rowGroupPanelShow"
        [rowMultiSelectWithClick]="true"
        (gridReady)="onGridReadyInternal($event)"
        [components]="frameworkComponents"
        (filterChanged)="onFilterInternalChanged()"
        (cellClicked)="onCellClicked($event)"
      >
      </ag-grid-angular>
    </div>
  </div>

  <button
    mat-button
    (click)="onDialogClose()"
    class="cancel btnHeight mt-2"
    style="float: right"
    [mat-dialog-close]="true"
  >
    Cancel
  </button>
  <button
    mat-button
    class="syncBtn mt-2"
    style="float: right"
    [class.hideReqBtns]="hideReqBtns"
    type="submit"
    (click)="onReset()"
  >
    Reset
  </button>
</mat-dialog-content>
