<div class="col-sm-12" style="padding-top: 15px;">
  <div class="col-sm-12 ag-toolBar justify-content-end" >
    <span class="m-0">Total Records: {{ totalRowCount }}</span>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <ag-grid-angular
        style="height: calc(100vh - 205px)"
        class="ag-theme-balham charCount certiRefGrid fullAg-grid"
        [isRowMaster]="isRowMaster"
        [masterDetail]="true"
        [columnDefs]="columnDefs"
        [defaultColDef]="defaultColDef"
        [groupDisplayType]="groupDisplayType"
        [detailCellRendererParams]="detailCellRendererParams"
        [tooltipShowDelay]="tooltipShowDelay"
        [rowData]="rowData"
        (firstDataRendered)="onFirstDataRendered($event)"
        (gridReady)="onGridReady($event)"
        (filterChanged)="onFilterChanged()"
        [components]="frameworkComponents"
      ></ag-grid-angular>
    </div>
  </div>
</div>
