<div class="col-sm-12" style="padding-top: 15px;">
  <div class="row">
    <div class="col-sm-12">
      <ag-grid-angular
        style="height: calc(100vh - 205px)"
        class="ag-theme-balham charCount certiRefGrid"
        [isRowMaster]="isRowMaster"
        [masterDetail]="true"
        [columnDefs]="columnDefs"
        [defaultColDef]="defaultColDef"
        [detailCellRendererParams]="detailCellRendererParams"
        [rowData]="rowData"
        (firstDataRendered)="onFirstDataRendered($event)"
        (gridReady)="onGridReady($event)"
        [components]="frameworkComponents"
      ></ag-grid-angular>
    </div>
  </div>
</div>
