@import "../../../../../piq.css";
.new {
  background: #2d3e51;
  color: white;
  line-height: 30px;
  padding: 0px 20px 0 10px;
  font-size: 12px;
  border-radius: 5px;
  height: 30px;
}
.btnImg {
  height: 20px;
  position: relative;
  right: 18px;
}

.ag-menuIcn {
  font-size: 16px !important;
  height: 14px !important;
  width: 14px !important;
}

.myMenu .mat-mdc-menu-content {
  padding: 0 !important;
}

.lndAgGrid.showStsBarAgGrid {
  height: calc(100vh - 230px);
}
.statusBar_Wrapper {
  height: 0;
  overflow: hidden;
}

::ng-deep.md-drppicker {
  display: flex !important;
  top: 40px !important;
  left: 15px !important;
}

::ng-deep.week-days ::ng-deep th ::ng-deep span {
  color: black;
  font-weight: 500;
}

::ng-deep.md-drppicker .dropdowns {
  color: black;
  font-weight: 500;
}
.dateRangeWrapper {
  display: flex;
  border: 1px solid #c8c8c8;
  border-radius: 5px;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  width: fit-content;
  cursor: pointer;
}

.dateRangeWrapper .dateRangeField {
  border: none;
  outline: none;
  border-radius: 0;
  width: 150px;
  text-align: center;
  color: black;
  cursor: pointer;
}

.dateRangeWrapper .icon-calendar {
  width: 18px;
  cursor: pointer;
}

.dateRangeWrapper .icon-down {
  width: 10px;
  cursor: pointer;
}

::ng-deep.md-drppicker ::ng-deep.ranges {
  height: 250px !important;
  overflow: auto !important;
  width: 135px !important;
}
::ng-deep.md-drppicker ::ng-deep.buttons {
  position: absolute !important;
  bottom: 1px !important;
  right: 0 !important;
}

::ng-deep.md-drppicker ::ng-deep.btn {
  max-width: 75px !important;
  min-width: 75px !important;
  margin: 0 5px !important;
}

::ng-deep.md-drppicker ::ng-deep.btn.btn-default {
  background-color: white !important;
}

::ng-deep.md-drppicker ::ng-deep.clear svg {
  display: none !important;
}

.showStsBar .statusBar_Wrapper {
  border: 1px solid #c1c1c1;
  border-radius: 0px 5px 5px 0px;
  padding: 10px;
  border-left: 5px solid #337ab7;
  width: 99%;
  height: 65px;
  overflow: hidden;
  display: flex;
  box-shadow: 0 2px 3px 1px #0003, 0 0 #00000024, 0 0 #0000001f;
}

.lndToggle ::ng-deep.mdc-switch__icons {
  display: none;
}
.lndToggle.mat-mdc-slide-toggle.mat-accent {
  --mdc-switch-unselected-handle-color: white !important;
  --mdc-switch-unselected-pressed-handle-color: white !important;
  --mdc-switch-unselected-focus-handle-color: white !important;
  --mdc-switch-unselected-hover-handle-color: white !important;
  --mdc-switch-selected-track-color: #5b9cd6 !important;
  --mdc-switch-selected-handle-color: white !important;
  --mdc-switch-selected-pressed-handle-color: white !important;
  --mdc-switch-selected-hover-track-color: #5b9cd6 !important;
  --mdc-switch-selected-pressed-track-color: #5b9cd6 !important;
  --mdc-switch-selected-focus-handle-color: white !important;
  --mdc-switch-selected-hover-handle-color: white !important;
  --mdc-switch-selected-focus-track-color: #5b9cd6 !important;
}

.datePicker ::ng-deep.mat-date-range-input-wrapper {
  top: -2px !important;
}
.datePicker ::ng-deep.mat-date-range-input-separator {
  bottom: 2px !important;
  position: relative !important;
}

.lndToggle ::ng-deep.mdc-switch .mdc-switch__handle::before {
  background: white !important;
}

.lndToggle ::ng-deep.mdc-switch:enabled .mdc-switch__track::before {
  background: gray !important;
}

.statusBars_subWrap {
  display: flex;
  align-items: center;
  width: 100%;
}
.statusBar_CountWrap {
  border-radius: 50%;
  cursor: pointer;
  z-index: 1;
}
.statusBar_Counts {
  border: 4px solid white;
  border-radius: 50%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  color: white;
  font-weight: 500;
}

.stsCounts {
  max-width: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
}
.statusBar_Name {
  cursor: pointer;
  display: flex;
  align-items: center;
  text-align: center;
  height: 35px;
  width: 100%;
  padding: 0 10px 0 35px;
  justify-content: center;
  position: relative;
  background: white;
  right: 35px;
  border-radius: 20px;
  font-weight: 500;
}

.stsBar_action_Wrap {
  border: 2px solid #ff978b;
}
.stsBar_action_Counts {
  background: #ff978b;
}

.stsBar_chats_Wrap {
  border: 2px solid #5b9cd6;
}
.stsBar_chats_Counts {
  background: #5b9cd6;
}

.stsBar_notification_Wrap {
  border: 2px solid #d64656;
}
.stsBar_notification_Counts {
  background: #d64656;
}

.stsBar_submitted_Wrap {
  border: 2px solid #ff7c25;
}
.stsBar_submitted_Counts {
  background: #ff7c25;
}

.stsBar_reassigned_Wrap {
  border: 2px solid #0e2350;
}
.stsBar_reassigned_Counts {
  background: #0e2350;
}

.stsBar_approved_Wrap {
  border: 2px solid #00a65a;
}
.stsBar_approved_Counts {
  background: #00a65a;
}

.stsBar_inprogress_Wrap {
  border: 2px solid #39b7cd;
}
.stsBar_inprogress_Counts {
  background: #39b7cd;
}

::ng-deep.sidebar-content-open
  ::ng-deep.page-content-wrapper
  ::ng-deep.statusBar_Counts {
  border: 2px solid white;
  height: 35px;
  width: 35px;
}
::ng-deep.sidebar-content-open
  ::ng-deep.page-content-wrapper
  ::ng-deep.statusBar_Name {
  height: 30px;
  width: 114px;
  font-size: 11px;
  right: 30px;
}

.lndAgGrid {
  height: calc(100vh - 160px);
}
.fullscreen_module_wrapper {
  display: flex;
  position: absolute;
  z-index: 1;
  right: 0;
  top: 1px;
}
.sts_Filter {
  position: absolute;
  width: 8px;
  bottom: 22px;
  left: 32px;
  display: none;
}

.showFilter {
  display: block;
}

.fullscreen_icon_wrapper {
  display: flex;
  border: 1px solid black;
  border-radius: 5px 0px 0px 5px;
  background: black;
}

.fullscreen_icon {
  color: white;
  margin-top: 1px;
}
.statusBar_toggle {
  border: 1px solid #5b9cd6;
  display: flex;
  border-radius: 0px 0px 50px 50px;
  border-top: 0;
  width: 30px;
  justify-content: center;
}
.statusBar_toggleIcn {
  width: 15px;
  height: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 2px;
  color: #222296;
}

/* .page_Title {
    font-size: 20px;
    font-weight: 500;
} */


.custom-options button img {
  width: 16px;
}
.ag-toolbar-row img {
  min-height: 35px;
}

.ag-menu-name{
  font-size: 12px;
  line-height: normal;
}

.ag-menu-spacing{
  padding: 10px;
}