@import "../../../../../piq.css";
.new {
  background: #2d3e51;
  color: white;
  line-height: 30px;
  padding: 0px 20px 0 10px;
  font-size: 12px;
  border-radius: 5px;
  height: 30px;
}
.btnImg {
  height: 20px;
  position: relative;
  right: 18px;
}

.ag-menuIcn{
  font-size: 16px !important;
  height: 14px !important;
  width: 14px !important;
}

/* .page_Title {
    font-size: 20px;
    font-weight: 500;
} */
