<div class="col-sm-12" style="height: calc(100vh - 45px);">
  <div style="display: flex;justify-content: center;">
    <span class="statusBar_toggle" (click)="stsBarToggle()">
      <mat-icon class="cursor-pointer statusBar_toggleIcn"> {{ showStsBar ? "expand_less" : "expand_more" }}</mat-icon>
    </span>
  </div>
  <div class="row" style="padding-top: 10px">
    <div class="col-sm-6">
      <span class="page_Title"> PIQ </span>
    </div>
  </div>
  <div class="row" [class.showStsBar]="showStsBar">
    <div class="col-sm-12">
      <div class="row" style="justify-content: center;">
        <div class="statusBar_Wrapper">
          <div class="statusBars_subWrap">
            <div class="statusBar_CountWrap stsBar_action_Wrap">
              <div class="statusBar_Counts stsBar_action_Counts">
                <span class="stsCounts">0</span>
              </div>
            </div>
            <div class="statusBar_Name stsBar_action_Wrap">
              <span>My Actions</span>
            </div>
          </div>
          <div class="statusBars_subWrap">
            <div class="statusBar_CountWrap stsBar_chats_Wrap">
              <div class="statusBar_Counts stsBar_chats_Counts">
                <span class="stsCounts">0</span>
              </div>
            </div>
            <div class="statusBar_Name stsBar_chats_Wrap">
              <span>My Chats</span>
            </div>
          </div>
          <div class="statusBars_subWrap">
            <div class="statusBar_CountWrap stsBar_notification_Wrap">
              <div class="statusBar_Counts stsBar_notification_Counts">
                <span class="stsCounts">0</span>
              </div>
            </div>
            <div class="statusBar_Name stsBar_notification_Wrap">
              <span>My Notification</span>
            </div>
          </div>
          <div class="statusBars_subWrap">
            <div class="statusBar_CountWrap stsBar_submitted_Wrap">
              <div class="statusBar_Counts stsBar_submitted_Counts">
                <span class="stsCounts">0</span>
              </div>
            </div>
            <div class="statusBar_Name stsBar_submitted_Wrap">
              <span>Submitted</span>
            </div>
          </div>
          <div class="statusBars_subWrap">
            <div class="statusBar_CountWrap stsBar_reviewed_Wrap">
              <div class="statusBar_Counts stsBar_reviewed_Counts">
                <span class="stsCounts">0</span>
              </div>
            </div>
            <div class="statusBar_Name stsBar_reviewed_Wrap">
              <span>Reviewed</span>
            </div>
          </div>
          <div class="statusBars_subWrap">
            <div class="statusBar_CountWrap stsBar_approved_Wrap">
              <div class="statusBar_Counts stsBar_approved_Counts">
                <span class="stsCounts">0</span>
              </div>
            </div>
            <div class="statusBar_Name stsBar_approved_Wrap">
              <span>Approved</span>
            </div>
          </div>
          <div class="statusBars_subWrap">
            <div class="statusBar_CountWrap stsBar_close_Wrap">
              <div class="statusBar_Counts stsBar_close_Counts">
                <span class="stsCounts">0</span>
              </div>
            </div>
            <div class="statusBar_Name stsBar_close_Wrap">
              <span>Close Out</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row" style="padding: 10px 0">
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-3 text-right" style="padding-right: 0">
          <div>
            <!-- <mat-form-field class="w-100">
              <input type="text" style="color: black;" matInput ngxDaterangepickerMd
                [keepCalendarOpeningWithRange]="keepCalendarOpeningWithRange" placeholder="{{placeholder}}"
                [showDropdowns]="true" [lockStartDate]="false" [customRangeDirection]="false"
                (change)="onDateChangeEvent($event)" [showClearButton]="showClearButton" [ranges]="ranges"
                [showCustomRangeLabel]="showCustomRangeLabel" [isInvalidDate]="isInvalidDate" autocomplete="off"
                [locale]="dateFormateControl" [alwaysShowCalendars]="alwaysShowCalendars" readonly="true">
              <img class="dateIcon ngx-daterangepicker-action" style="position: absolute;margin-left: -14px;"
                src="assets/images/calendar.png" width="12" (click)="openDatepicker()">
            </mat-form-field> -->


            <mat-form-field appearance="outline" class="datePicker">
              <mat-date-range-input [rangePicker]="picker">
                <input matStartDate placeholder="Start date">
                <input matEndDate placeholder="End date">
              </mat-date-range-input>
              <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-date-range-picker #picker></mat-date-range-picker>
            </mat-form-field>
          </div>
        </div>
        <div class="col-sm-1 text-right">
          <div class="statusBars_subWrap">
            <button mat-button class="new">Show</button>
            <img class="btnImg" src="assets/question/show.svg" />
          </div>
        </div>
        <div class="col-sm-2 text-right" style="padding: 5px 15px">
          <div class="statusBars_subWrap" style="justify-content: space-between;">
            <span style="font-weight: 500;font-size: 13px;white-space: nowrap;">Include Open Items</span>
            <mat-slide-toggle class="lndToggle"></mat-slide-toggle>
          </div>
        </div>
        <div class="col-sm-2 text-right" style="padding: 5px 10px">
          <div class="statusBars_subWrap" style="justify-content: space-between;">
            <span style="font-weight: 500;font-size: 13px;white-space: nowrap;">To Show other records</span>
            <mat-slide-toggle class="lndToggle"></mat-slide-toggle>
          </div>
        </div>
        <div class="col-sm-4 text-right" style="padding-right: 0">
          <div>
            <button mat-button class="new" (click)="navigatePiq()">New</button>
            <img class="btnImg" src="assets/question/new.svg" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-12 justify-content-end ag-toolBar"
    *ngIf="userDetails?.cntrlType === 'CNT002'|| userDetails?.cntrlType === 'CNT001'">
    <span class="m-0">Total Records: {{ totalRowCount }}</span>
    <div>
      <mat-icon class="cursor-pointer ag-menuIcn" [matMenuTriggerFor]="agToolbar">apps</mat-icon>
      <mat-menu class="mat-menu-panel myMenu" #agToolbar="matMenu" xPosition="before">
        <app-ag-grid-toolbar [agGridToolbar]="agGridToolbar"></app-ag-grid-toolbar>
      </mat-menu>
    </div>
  </div>
  <div class="row">
    <!-- ship -->
    <div class="col-sm-12" *ngIf="userDetails?.cntrlType === 'CNT002'">
      <ag-grid-angular style="height: calc(100vh - 185px)" [class.showStsBarAgGrid]="showStsBar" class="ag-theme-balham"
        [columnDefs]="shipColumnDefs" [defaultColDef]="defaultColDef" [sideBar]="sideBar"
        [rowGroupPanelShow]="rowGroupPanelShow" [groupDisplayType]="groupDisplayType" [gridOptions]="gridOptions"
        [tooltipShowDelay]="tooltipShowDelay" [animateRows]="true" [suppressMenuHide]="true" [masterDetail]="true"
        [embedFullWidthRows]="true" (cellDoubleClicked)="onCellDoubleClicked($event)" [rowData]="rowData"
        [components]="frameWorkComponent" (gridReady)="onGridReady($event)" (filterChanged)="onFilterChanged()">
      </ag-grid-angular>
    </div>
    <!-- shore -->
    <div class="col-sm-12" *ngIf="userDetails?.cntrlType === 'CNT001'">
      <ag-grid-angular style="height: calc(100vh - 185px)" [class.showStsBarAgGrid]="showStsBar" class="ag-theme-balham"
        [columnDefs]="shoreColumnDefs" [defaultColDef]="defaultColDef" [sideBar]="sideBar"
        [rowGroupPanelShow]="rowGroupPanelShow" [groupDisplayType]="groupDisplayType" [gridOptions]="gridOptions"
        [animateRows]="true" [suppressMenuHide]="true" [masterDetail]="true" [embedFullWidthRows]="true"
        (cellDoubleClicked)="onCellDoubleClicked($event)" [rowData]="rowData" [components]="frameWorkComponent"
        (gridReady)="onGridReady($event)" (filterChanged)="onFilterChanged()">
      </ag-grid-angular>
    </div>
  </div>
</div>