<div class="col-sm-12" >
  <div class="row">
  <div class="col-md-2 text-center cursor-pointer ag-menu-spacing" (click)="agGridToolbar.saveTemplate()">
    <img src="assets/ag-top-toolbar/save.svg" alt="" matTooltip="Save Template" width="20" />
    <div class="ag-menu-name">Save Template</div>
  </div>
  <div class="col-md-2 text-center cursor-pointer ag-menu-spacing" (click)="agGridToolbar.saveAsTemplate()">
    <img src="assets/ag-top-toolbar/saveas_template.svg" alt="" matTooltip="Save as Template" width="20" />
    <div class="ag-menu-name">Save as Template</div>
  </div>
  <div class="col-md-2 text-center cursor-pointer ag-menu-spacing" (click)="agGridToolbar.deleteTemplate()">
    <img src="assets/ag-top-toolbar/delete.svg" alt="" matTooltip="Delete Template" width="20" />
    <div class="ag-menu-name">Delete Template</div>
  </div>
  <div class="col-md-2 text-center cursor-pointer ag-menu-spacing" (click)="agGridToolbar.columnFilter()">
    <img src="assets/ag-top-toolbar/distinct.svg" alt="" matTooltip="Distinct Filter" width="20" />
    <div class="ag-menu-name">Distinct Filter</div>
  </div>
  <div class="col-md-2 text-center cursor-pointer ag-menu-spacing" (click)="agGridToolbar.filter()">
    <img src="assets/ag-top-toolbar/condition.svg" alt="" matTooltip="Condition" width="20" />
    <div class="ag-menu-name">Condition Filter</div>
  </div>
  <div class="col-md-2 text-center cursor-pointer ag-menu-spacing" (click)="agGridToolbar.columnFilter()">
    <img src="assets/ag-top-toolbar/multiple.svg" alt="" matTooltip="Multiple" width="20" />
    <div class="ag-menu-name">Multiple Filter</div>
  </div>
  </div>
  <div class="row">
  <div class="col-md-2 text-center cursor-pointer ag-menu-spacing" (click)="agGridToolbar.resetTemplate()">
    <img src="assets/ag-top-toolbar/repeat.svg" alt="" matTooltip="Reset" width="20" />
    <div class="ag-menu-name">Reset</div>
  </div>
  <div class="col-md-2 text-center cursor-pointer ag-menu-spacing">
    <img src="assets/ag-top-toolbar/excel.svg" alt="" matTooltip="Excel" width="20" />
    <div class="ag-menu-name">Excel</div>
  </div>
  <div class="col-md-2 text-center cursor-pointer ag-menu-spacing" (click)="agGridToolbar.exportAsCSV()">
    <img src="assets/ag-top-toolbar/CSV.svg" alt="" matTooltip="CSV Export" width="20" />
    <div class="ag-menu-name">CSV</div>
  </div>
  <div class="col-md-2 text-center cursor-pointer ag-menu-spacing">
    <img src="assets/ag-top-toolbar/fullscreen.svg" alt="" matTooltip="Full View" width="20" />
    <div class="ag-menu-name">Fullscreen</div>
  </div>
</div>
</div>
