<!-- <div class="row p-4 ag-toolbar-row">
    <div class="col-md-2 text-center cursor-pointer" (click)="agGridToolbar.saveTemplate()">
      <img src="assets/ag-top-toolbar/save.svg" alt="" matTooltip="Save Template" width="25" />
      <div>Save Template</div>
    </div>
    <div class="col-md-2 text-center cursor-pointer" (click)="agGridToolbar.saveAsTemplate()">
      <img src="assets/ag-top-toolbar/saveas_template.svg" alt="" matTooltip="Save as Template" width="25" />
      <div>Save as Template</div>
    </div>
    <div class="col-md-2 text-center cursor-pointer" (click)="agGridToolbar.deleteTemplate()">
      <img src="assets/ag-top-toolbar/delete.svg" alt="" matTooltip="Delete Template" width="25" />
      <div>Delete Template</div>
    </div>
    <div class="col-md-2 text-center cursor-pointer" (click)="agGridToolbar.columnFilter()">
      <img src="assets/ag-top-toolbar/distinct.svg" alt="" matTooltip="Distinct Filter" width="25" />
      <div>Distinct Filter</div>
    </div>
    <div class="col-md-2 text-center cursor-pointer" (click)="agGridToolbar.filter()">
      <img src="assets/ag-top-toolbar/condition.svg" alt="" matTooltip="Condition" width="25" />
      <div>Condition Filter</div>
    </div>
    <div class="col-md-2 text-center cursor-pointer" (click)="agGridToolbar.columnFilter()">
      <img src="assets/ag-top-toolbar/multiple.svg" alt="" matTooltip="Multiple" width="25" />
      <div>Multiple Filter</div>
    </div>
  </div>
  <div class="row p-4 ag-toolbar-row" (click)="agGridToolbar.resetTemplate()">
    <div class="col-md-2 text-center cursor-pointer">
      <img src="assets/ag-top-toolbar/repeat.svg" alt="" matTooltip="Reset" width="25" />
      <div>Reset</div>
    </div> -->
    <!-- <div class="col-md-2 text-center cursor-pointer">
      <img src="assets/ag-top-toolbar/excel.svg" alt="" matTooltip="Excel" width="25" />
      <div>Excel</div>
    </div> -->
    <!-- <div class="col-md-2 text-center cursor-pointer" (click)="agGridToolbar.exportAsCSV()">
      <img src="assets/ag-top-toolbar/CSV.svg" alt="" matTooltip="CSV Export" width="25" />
      <div>CSV</div>
    </div> -->
    <!-- <div class="col-md-2 text-center cursor-pointer">
      <img src="assets/ag-top-toolbar/fullscreen.svg" alt="" matTooltip="Full View" width="25" />
      <div>Fullscreen</div>
    </div> -->
  <!-- </div> -->


  <div class="row p-2 ag-toolbar-row">
    <div class="col-md-2 mr-2 ml-2 text-center cursor-pointer" (click)="agGridToolbar.exportAsExcel()">
      <img src="assets/ag-top-toolbar/excel.svg" alt="" matTooltip="Excel Export" width="25" />
      <div>Excel</div>
    </div>
    <div class="col-md-2 ml-2 text-center cursor-pointer" (click)="agGridToolbar.exportAsCSV()">
      <img src="assets/ag-top-toolbar/CSV.svg" alt="" matTooltip="Csv Export" width="25" />
      <div>CSV</div>
    </div>
  </div>