<div mat-dialog-title>
  <div class="col-sm-12">
    <div class="row mt-3">
      <div class="col-sm-8">
        <h3 class="header">External inspection data</h3>
        <p class="descHeader">(List of inspection data in last 18 months)</p>
      </div>

      <div class="col-sm-4 text-right closeIcn">
        <p class="toggleHeader">Suggested </p>
        <mat-slide-toggle
          class="toggleHeader"
          [(ngModel)]="isChecked"
          (change)="changeToggle($event)"
        ></mat-slide-toggle>
        <p class="toggleHeader"> All Inspection</p>
        <mat-icon (click)="onDialogClose()">close</mat-icon>
      </div>
    </div>
  </div>
</div>
<div mat-dialog-content class="mat-typography">
  <div class="col-sm-12">
    <div class="row mt-3">
      <!-- <div class="col-sm-12 text-right mt-2">
        
      </div> -->
      <div class="col-sm-12 mt-2">
        <ag-grid-angular
          class="ag-theme-balham"
          style="height: calc(100vh - 290px)"
          [rowData]="rowData"
          [columnDefs]="columnDefs"
          [rowSelection]="multiRowSelection"
          [rowMultiSelectWithClick]="true"
          (gridReady)="onGridReady($event)"
          [components]="frameworkComponents"
        >
        </ag-grid-angular>
      </div>
    </div>
  </div>
</div>
<mat-dialog-actions align="end" style="padding: 8px 15px">
  <!-- (rowSelected)="onRowSelected($event)" [mat-dialog-close]="true" 
<button mat-button class="showBtn" (click)="ShowSelectedDatas()">Show</button> -->
</mat-dialog-actions>
