<div mat-dialog-title>
  <div class="col-sm-12">
    <div class="row">
      <div class="col-sm-8">
        <h3 class="header">External inspection data</h3>
        <p class="descHeader">(List of External Inspection Data in last 18 months)</p>
      </div>
      <div class="col-sm-3 text-center" style="padding:15px 0 0 0;">
        <div style="line-height: 1;">
          <div style="color: #707171;font-size: 14px;font-weight: 500;">
            <span>
              Module Selection
            </span>
          </div>
          <div style="white-space: nowrap;">
            <p class="toggleHeader">Suggested</p>
            <mat-slide-toggle class="toggleHeader" [(ngModel)]="isChecked"
              (change)="changeToggle($event)"></mat-slide-toggle>
            <p class="toggleHeader">All Inspection</p>
          </div>
        </div>
      </div>
      <div class="col-sm-1 text-right closeIcn">
        <mat-icon (click)="onDialogClose()">close</mat-icon>
      </div>
    </div>
  </div>
</div>
<div mat-dialog-content class="mat-typography">
  <!-- <div class="col-sm-12"> -->
  <div class="row">
    <div class="col-sm-12" style="padding-top: 10px;">
      <ag-grid-angular class="ag-theme-balham" style="height: calc(100vh - 280px)" [rowData]="rowData"
        [columnDefs]="columnDefs" [rowSelection]="multiRowSelection" [rowClassRules]="rowClassRules"
        [defaultColDef]="defaultColDef" [rowMultiSelectWithClick]="true" (gridReady)="onGridReady($event)"
        [components]="frameworkComponents">
      </ag-grid-angular>
    </div>
  </div>
  <!-- </div> -->
</div>