@import "../../../../../piq.css";
::ng-deep .reuse-dialog-container ::ng-deep .mat-mdc-dialog-container {
  width: 50vw !important;
}

::ng-deep .reuse-dialog-container ::ng-deep .mat-mdc-dialog-content {
  height: calc(100vh - 270px) !important;
  padding-bottom: 0;
  max-height: unset;
}

::ng-deep .reuse-dialog-container ::ng-deep .mat-mdc-dialog-actions {
  min-height: 40px !important;
}

::ng-deep .reuse-dialog-container ::ng-deep .mat-mdc-dialog-surface.mdc-dialog__surface{
  overflow: hidden !important;
}