@import "../../../../../piq.css";
::ng-deep .reuse-dialog-container ::ng-deep .mat-mdc-dialog-container {
  width: 50vw !important;
  padding: 0 24px !important;
}

::ng-deep .reuse-dialog-container ::ng-deep .mat-mdc-dialog-content {
  height: calc(100vh - 270px) !important;
  padding-bottom: 0;
  max-height: unset;
  font-size: 12px;
  color: black;
}

::ng-deep .reuse-dialog-container ::ng-deep .mat-mdc-dialog-actions {
  min-height: 40px !important;
  padding: 0 15px;
}

::ng-deep .reuse-dialog-container ::ng-deep .mat-mdc-dialog-surface.mdc-dialog__surface{
  overflow: hidden !important;
}

.yesBtn {
  background-color: #19c37d;
  color: white;
}

.disableBtn{
    background-color: #c1c1c1 !important;
    color: black !important;
}

.btnCan{
  height: 26px;
  margin: 0 5px;
  padding: 0px 10px;
  font-size: 12px;
}

.btnHeight{
  height: 30px;
}